# Compiled Object files
*.slo
*.lo
*.o
*.obj
// the structure
struct C {
 int val;
char visibil;
};

struct battery{
C *top ;
battery* next;
};

// la fonction
int som(battery *p){
if(p!=NULL){ 
 C* c=p->top;
}
return p;
}

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
